.start{
	width: 90%;
	border-radius: 10px;
	margin: 0px auto 0;
}
.start_logo{
	margin: 90px 40%;
}
.start_box{
	height: 150px;
	width: 80%;
	background-color: #f0f4f9;
	border: 1px solid #bfc7d0;
	border-radius: 10px;
	margin: auto;
	padding: 50px 0 0;
}
.start_box-input-user{
	width: 70%;
	margin: auto;
}
.start_box-input-user > label{
	padding-bottom: 15px;
}
.start_box-input-user > input{
	border-radius: 7.5px;
	border: 1px solid #bfc7d0;
	height: 30px;
}
.start_box-input-user > input:focus-visible{
	outline: #508ec3 auto 1px;
	border: 1px solid #508ec3;
}
.start_box-button{
	width: 70%;
	height: 30px;
	border-radius: 7.5px;
	background-color: green;
	color: white;
	cursor: pointer;
	border: 1px solid #bfc7d0;
	margin: 20px 15%;
	outline: 0;
}
.start_box-button.start_box-button-inactive{
	cursor: not-allowed;
	opacity: 0.5;
}
.start_error{
	height: 50px;
	width: 300px;
	background-color: #f44336;
	border: 1px solid #bfc7d0;
	border-radius: 10px;
	margin: 20px auto 0;
	padding: 10px 0 0;
}
.start_error p{
	margin: auto;
	width: max-content;
}
@media screen and (min-width: 768px){
	.start{
		width: 450px;
		border-radius: 10px;
		margin: 0px auto 0;
	}
	.start_logo{
		margin: 70px 185px;
	}
	.start_box{
		height: 150px;
		width: 300px;
		background-color: #f0f4f9;
		border: 1px solid #bfc7d0;
		border-radius: 10px;
		margin: auto;
		padding: 50px 0 0;
	}
	.start_box-input-user{
		width: 70%;
		margin: auto;
	}
	.start_box-input-user > label{
		padding-bottom: 15px;
	}
	.start_box-input-user > input{
		border-radius: 7.5px;
		border: 1px solid #bfc7d0;
		height: 30px;
	}
	.start_box-input-user > input:focus-visible{
		outline: #508ec3 auto 1px;
		border: 1px solid #508ec3;
	}
	.start_box-button{
		width: 70%;
		height: 30px;
		border-radius: 7.5px;
		background-color: green;
		color: white;
		cursor: pointer;
		border: 1px solid #bfc7d0;
		margin: 20px 15%;
		outline: 0;
	}
	.start_box-button.start_box-button-inactive{
		cursor: not-allowed;
		opacity: 0.5;
	}
	.start_error{
		height: 50px;
		width: 300px;
		background-color: #f44336;
		border: 1px solid #bfc7d0;
		border-radius: 10px;
		margin: 20px auto 0;
		padding: 10px 0 0;
	}
	.start_error p{
		margin: auto;
		width: max-content;
	}
}